{
	admin off
	auto_https off
	log default {
		output stdout
		level warn
		format console
	}
}
:80 {
	root * /srv/FreshRSS/p
	file_server
	php_fastcgi localhost:8000
	respond /alive "File server is alive!"
}
