[Container]
AutoUpdate=registry
Environment=TZ=Europe/Berlin
Image=ghcr.io/advplyr/audiobookshelf
ContainerName=audiobookshelf
Network=audiobookshelf.network
Volume=/var/mnt/media:/media:ro
Volume=/var/mnt/persist/audiobookshelf:/config
Volume=/var/mnt/ephemeral/abs-metadata:/metadata
Volume=/var/mnt/ephemeral/podcasts:/podcasts
HealthCmd=wget -q --spider localhost/audiobookshelf/ || exit 1
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier1.slice

[Install]
WantedBy=prod.target
