[Container]
AutoUpdate=registry
Environment=TZ=Europe/Berlin
Image=ghcr.io/advplyr/audiobookshelf
PublishPort=127.0.0.1:13378:80
Volume=/var/mnt/media:/media:ro
Volume=/var/mnt/persist/audiobookshelf:/config
Volume=/var/mnt/ephemeral/abs-metadata:/metadata
Volume=/var/mnt/ephemeral/podcasts:/podcasts
HealthCmd=wget -q --spider localhost/audiobookshelf/ || exit 1
HealthOnFailure=kill

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
