[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
Image=localhost/avahi
Network=host
AutoUpdate=local

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
