[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
Image=localhost/avahi
Network=host
AutoUpdate=local
ReadOnly=true
HealthCmd=avahi-daemon --check
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier0.slice

[Install]
WantedBy=prod.target
