[Unit]
Wants=image-build@%N.timer

[Container]
Image=localhost/avahi
Network=host
AutoUpdate=local

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
