[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
AutoUpdate=local
Environment=TZ=Europe/Berlin
Image=localhost/freshrss
ContainerName=freshrss
Network=freshrss.network
Volume=/var/mnt/persist/freshrss:/srv/FreshRSS/data
HealthCmd=curl --fail --silent --show-error localhost/alive || exit 1
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier1.slice

[Install]
WantedBy=prod.target
