[Unit]
Wants=image-build@%N.timer

[Container]
AutoUpdate=local
Environment=TZ=Europe/Berlin
Image=localhost/freshrss
PublishPort=8090:80
Volume=/mnt/persist/freshrss:/srv/FreshRSS/data

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
