[Unit]
#BindsTo=dev-conbee.device
After=dev-conbee.device network-online.target

[Container]
Image=ghcr.io/home-assistant/home-assistant
Network=host
Volume=/var/mnt/persist/home:/config
AddDevice=/dev/serial/by-id/usb-Nabu_Casa_ZBT-2_441BF6C1A018-if00:/dev/ttyACM1
AutoUpdate=registry
HealthCmd=curl --fail --silent --show-error localhost:8123 || exit 1
HealthOnFailure=kill

[Service]
Restart=on-failure
RestartSec=5min
Slice=prod-tier0.slice

[Install]
WantedBy=prod.target
