[Unit]
Wants=image-build@%N.timer

[Container]
Image=localhost/ingress
Network=host
AutoUpdate=local
Volume=/mnt/persist/ingress:/data
Secret=ollama-api-key,type=env,target=OLLAMA_API_KEY

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
