[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
Network=ingress.network
Image=localhost/ingress
PublishPort=443:443
PublishPort=[::]:443:443
PublishPort=80:80
PublishPort=[::]:80:80
Network=cloud.network
Network=docs.network
Network=immich.network
Network=vault.network
Network=freshrss.network
Network=media.network
Network=ollama.network
Network=audiobookshelf.network
Network=mosquitto.network
Network=forgejo.network
AutoUpdate=local
ReadOnly=true
Tmpfs=/config
Volume=/var/mnt/persist/ingress:/data
Secret=ollama_api_key_plain,type=env,target=OLLAMA_API_KEY
Secret=nodered_basicauth_plain,type=env,target=NODERED_BASICAUTH
HealthCmd=curl --fail --silent --show-error localhost || exit 1
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier0.slice

[Install]
WantedBy=prod.target
