[Unit]
Restart=on-failure
Wants=image-build@%N.timer

[Container]
Image=localhost/ingress
Network=host
AutoUpdate=local
Volume=ingress:/data

[Install]
WantedBy=prod.target
