[Unit]
Restart=on-failure

[Container]
AutoUpdate=registry
Image=quay.io/go-skynet/local-ai:latest-cpu
PublishPort=8080:8080
Volume=localai-models:/build/models

[Install]
WantedBy=prod.target
