[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
Image=localhost/media
PublishPort=127.0.0.1:8096:8096
AutoUpdate=local
Environment=JELLYFIN_CACHE_DIR=/var/cache/jellyfin
Environment=JELLYFIN_DATA_DIR=/var/lib/jellyfin
Environment=JELLYFIN_LOG_DIR=/var/log/jellyfin
Volume=/var/mnt/media:/srv/media
Volume=/var/opt/vids:/srv/vids
Volume=media-cache:/var/cache/jellyfin
Volume=/var/mnt/persist/jellyfin:/var/lib/jellyfin
HealthCmd=curl --fail --silent --show-error localhost:8096/health || exit 1
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier1.slice

[Install]
WantedBy=prod.target
