[Unit]
Wants=image-build@%N.timer

[Container]
Image=localhost/media
Network=host
AutoUpdate=local
Environment=JELLYFIN_CACHE_DIR=/var/cache/jellyfin
Environment=JELLYFIN_DATA_DIR=/var/lib/jellyfin
Environment=JELLYFIN_LOG_DIR=/var/log/jellyfin
Volume=media:/srv/media
Volume=media-cache:/var/cache/jellyfin
Volume=jellyfin:/var/lib/jellyfin
AddDevice=/dev/dri/:/dev/dri/

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
