[Unit]
Wants=image-build@%N.timer

[Container]
Image=localhost/mosquitto
PublishPort=127.0.0.1:1883:1883
PublishPort=127.0.0.1:1884:1884
AutoUpdate=local
Secret=mosquitto_passwords,uid=1883,gid=1883,mode=0400

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
