[Container]
Image=docker.io/collabora/code:24.04.6.2.1
PublishPort=9980:9980
AutoUpdate=registry
Environment=extra_params="--o:ssl.enable=false --o:ssl.termination=true"
Environment=aliasgroup1="https://cloud.dm-poepperl.de:443"

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
