[Container]
AutoUpdate=registry
Image=ghcr.io/nextcloud-releases/aio-eurooffice:latest
ContainerName=office
Network=office.network
Environment=TZ=Europe/Berlin
Environment=JWT_ENABLED=true
Environment=JWT_HEADER=AuthorizationJwt
Secret=office_jwt_plain,type=env,target=JWT_SECRET
DropCapability=NET_RAW
Volume=office-lib:/var/lib/euro-office
Volume=office-data:/var/www/euro-office/Data
HealthCmd=/healthcheck.sh
HealthOnFailure=kill
HealthInterval=5m
HealthStartPeriod=60s

[Service]
Restart=on-failure
Slice=prod-tier1.slice

[Install]
WantedBy=prod.target
