[Container]
AutoUpdate=registry
Image=docker.io/ollama/ollama
ContainerName=ollama
Network=ollama.network
ReadOnly=true
Volume=ollama-models:/root/.ollama
# Environment=OLLAMA_DEBUG=1
Environment=OLLAMA_ORIGINS=*
HealthCmd=ollama list || exit 1
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
MemoryHigh=20G
MemoryMax=24G
Slice=prod-tier1.slice

[Install]
WantedBy=prod.target
