[Unit]
Wants=image-bootstrap@%N.service image-build@%N.timer
After=image-bootstrap@%N.service

[Container]
Image=localhost/samba
PublishPort=445:445
AutoUpdate=local
Volume=/var/mnt/media:/srv/media
Volume=docs-scan:/srv/scans
HealthCmd=sh /opt/monitor/alive.sh
HealthOnFailure=kill
HealthInterval=5m
Slice=prod-tier0.slice

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
