[Unit]
Wants=image-build@%N.timer

[Container]
Image=localhost/samba
PublishPort=445:445
AutoUpdate=local
Volume=/mnt/media:/srv/media
Volume=docs-scan:/srv/scans

[Service]
Restart=on-failure

[Install]
WantedBy=prod.target
