[Container]
Image=ghcr.io/dani-garcia/vaultwarden:alpine
AutoUpdate=registry
ContainerName=vault
Network=vault.network
UserNS=keep-id:uid=844,gid=844
ReadOnly=true
Volume=/var/mnt/persist/vault:/data
Volume=/var/mnt/ephemeral/vault-icons:/var/icons
Secret=cloud_smtp,type=env,target=SMTP_PASSWORD
Environment=TZ=Europe/Berlin
Environment=ICON_CACHE_FOLDER=/var/icons
Environment=ROCKET_PORT=8087
Environment=LOG_LEVEL=warn
Environment=DATABASE_URL=/data/db.sqlite3
Environment=INVITATION_ORG_NAME=Lauras and Dennis' Cloud
Environment=PASSWORD_HINTS_ALLOWED=false
Environment=SIGNUPS_ALLOWED=false
Environment=DOMAIN=https://vault.dm-poepperl.de
Environment=IP_HEADER=X-Forwarded-For
Environment=SMTP_HOST=smtp.strato.de
Environment=SMTP_SECURITY=force_tls
Environment=SMTP_PORT=465
Environment=SMTP_FROM=cloud@dm-poepperl.de
Environment=SMTP_USERNAME=cloud@dm-poepperl.de
Environment=SMTP_FROM_NAME=L&D Cloud
Environment=TRASH_AUTO_DELETE_DAYS=1000
HealthCmd=/healthcheck.sh
HealthOnFailure=kill
HealthInterval=5m

[Service]
Restart=on-failure
Slice=prod-tier0.slice

[Install]
WantedBy=prod.target
