[Unit]

[Service]
User=cloud
Type=oneshot
KillMode=process
ExecCondition=/usr/bin/php occ status -e
ExecStart=/usr/bin/php cron.php
WorkingDirectory=/srv/de.dm-poepperl.cloud/html
