[Service]
User=cloud
Type=oneshot
ExecCondition=/usr/bin/php occ status -e
ExecStart=/usr/bin/php occ preview:generate-all --verbose
WorkingDirectory=/usr/share/nextcloud
Slice=cloud-maint.slice
